:root {
    --w-0:#fff;
    --c-1:#F7F7F7;
    --c-2:#EDEDED;
    --c-3:#DEDEDE;
    --c-4:#CCCCCC;
    --c-5:#b2b2b2;
    --c-6:#9C9C9C;
    --c-7:#717171;
    --c-8:#595959;
    --c-9:#404040;
    --c-10:#2E2E2E;
    --p-11:#111;
    --p-12:#000;

    --a-1:#ffbb00;
    --a-2:#E4A30B;
    --a-3:#A66F00;
    --a-4:#664400;
    --a-5:#332200;
}
.w-0 {
    color: var(--w-0);
}
.c-1{
    color:var(--c-1);
}
.c-2{
    color: var(--c-2);
}
.c-3{
   color: var(--c-3);
}
.c-4{
    color: var(--c-4);
}
.c-5{
    color: var(--c-5);
}
.c-6{
    color: var(--c-6);
}
.c-7{
  color:var(--c-7);
}
.c-8{
   color:var(--c-8);
}
.c-9{
    color:var(--c-9);
}
.c-10{
 color: var(--c-10);
}
.p-11{
    color: var(--p-11);
}
.bg-p-11{
    background-color: var(--p-11);
}
.p-12{
    color: var(--p-12);
}
.a-1{
    color: var(--a-1);
}
.a-2{
    color: var(--a-2);
}
.a-3{
   color: var(--a-3);
}
.a-4{
   color: var(--a-4);
}
.a-5{
  color: var(--a-5);
}