header {
    background-color: var(--p-12);
    height:80px;
}
div.header {
    display: flex;
    height:80px;
    list-style: none;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}
 .menu {
    display: flex;
    gap: .5rem;
}
.menu li a {
    text-decoration: none;
    color:  var(--w-0);
}
#btn-mobile {
    display: none;
    color: var( --w-0);
}
.menu a {
    display: block;
    padding: .5rem;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    font-family:'Poppins';
    font-weight: 400;
}
.menu a::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    margin-top: 4px;
    width: 0;
    left: 0;
    background-color: var(--w-0);
    transition: 0.3s;
}
.menu a:hover::after {
    width: 100%;
}
@media (max-width: 700px) {
    div.header {
        padding: 1rem;
    }
    .menu a::after {
        display: none;
    }
    .menu li, a {
        list-style: none;
        text-decoration: none;
        color: var(--w-0);
        font-size: 1.3rem;
        font-weight: 400;
    }
    #btn-mobile {
        display: block;
    }
    .menu {
        /*display: none;*/
        display: block;
        position: absolute;
        width:100%;
        top: 80px;
        right:0px;
        background: rgba(0, 0, 0, 0.9);
        z-index: 9;        
        transition:.6s;
        height:0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active .menu {      
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom:1px solid rgba(192, 192, 192, 0.1);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap:.5rem;
    }
    #hamburguer {
        display: block;
        width: 20px;
        border-top:2px solid ;
 
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
    }
    #nav.active #hamburguer{
        border-top-color:transparent;
    }
    #nav.active  #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active  #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}