.container {
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
}

.home-section {
    background-color: #000;
    color:#FFF;
    display: relative;
}

.home-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#home-img {
    width: 35%;
    position: absolute;
    z-index: 3;
    right: 50px;
    bottom: 10px;
}