:root {
    --w-0:#fff;
    --c-1:#F7F7F7;
    --c-2:#EDEDED;
    --c-3:#DEDEDE;
    --c-4:#CCCCCC;
    --c-5:#b2b2b2;
    --c-6:#9C9C9C;
    --c-7:#717171;
    --c-8:#595959;
    --c-9:#404040;
    --c-10:#2E2E2E;
    --p-11:#111;
    --p-12:#000;

    --a-1:#ffbb00;
    --a-2:#E4A30B;
    --a-3:#A66F00;
    --a-4:#664400;
    --a-5:#332200;
}
.w-0 {
    --w-0:#fff;
}
.c-1{
    --c-1:#F7F7F7;
}
.c-2{
    --c-2:#EDEDED;
}
.c-3{
    --c-3:#DEDEDE;
}
.c-4{
    --c-4:#CCCCCC;
}
.c-5{
    --c-5:#b2b2b2;
}
.c-6{
    --c-6:#9C9C9C;
}
.c-7{
    --c-7:#717171;
}
.c-8{
    --c-8:#595959;
}
.c-9{
    --c-9:#404040;
}
.c-10{
    --c-10:#2E2E2E;
}
.p-11{
    --p-11:#111;
}
.p-12{
    --p-12:#000;
}
.a-1{
    --a-1:#ffbb00;
}
.a-2{
    --a-2:#E4A30B;
}
.a-3{
    --a-3:#A66F00;
}
.a-4{
    --a-4:#664400;
}
.a-5{
    --a-5:#332200;
}